body{ 
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    background-color=black;
}

/* Global */
.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

ul{
    margin:0;
    padding:0;
}

.button_1{
    height:38px;
    background:red;
    border:none;
    padding-left:20px;
    padding-right:20px;
    color:white;
}

.dark{
    padding:15px;
    background:red;
    color:black;
    margin-top:10px;
    margin-bottom:10px;
}

/* Header */
header{
    background:Black;
    color:Red;
    padding-top:30px;
    min-height:70px;
    border-bottom:black 3px solid;
}

header a{
    color:red;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
}


header li{
    float:left;
    display:inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float:left;
}

header #branding h1{
    margin:0;
}

header nav{
    float:right;
    margin-top:10px;
}

header .highlight, header .current a{
    color:red;
    font-weight: bold;
}

header a:hover{
    color:black;
    font-weight: bold;
}

/* Showcase */
#showcase{
    min-height:400px;
    background:red no-repeat 0 -400px;
    text-align:center;
    color:black;
}

#showcase h1{
    margin-top:40px;
    font-size:55px;
    margin-bottom:10px;
}

#showcase p{
    font-size:25px;
    color: black
}

/* Newsletter*/
#newsletter{
    padding:15px;
    color:red;
    background:black;
}

#newsletter h1{
    float:left;
}

#newsletter form{
    float:right;
    margin-top:5px;
}

#newsletter input[type="email"]{
    padding:5px;
    height:25px;
    width:250px;
}

/* Boxes*/
#boxes{
    margin-top:20px;
}

#boxes .box{
    float:left;
    text-align:center;
    width:30%;
    padding:10px;
}

#boxes .box img{
    width:300px;
}

/* Sidebar */
aside#sidebar{
    float:right;
    width:30%;
    margin-top:10px;
}

/* Main-col */
article#maincol{
    float:left;
    width:65%;
}

/* How To Help */
ul#howtohelp li{
    list-style: none;
    padding:20px;
    border: red solid 1px;
    margin-bottom:5px;
    background:red;
}

footer{
    padding:20px;
    margin-top:20px;
    color:red;
    background-color:black;
    text-align:center;
}

/* Media Queries */
@media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    article#sidebar{
        float: none;
        text-align:center;
        width:100%;
    }

    header{
        padding-bottom:20px;
    }

    #showcase h1{
        margin-top:40px;
    }

    #newsletter button{
        display:block;
        width:100%;
    }

    #newsletter form input[type="email"]{
        width:100%;
        margin-bottom:5px;
    }
}